h1 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
}
#answer {
  display:none;
}
#country {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  display: none;
}
.bg-img {
  background-image: url("../img/suggest.jpeg");
  height: 800px;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 font-size: 25px;
}
#restartQuiz {
  display: none;
}
img {
  height: 600px;
 width: 100%;
}
